<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link rel="stylesheet" href="css/register.css">
</head>
<body>
<div class="container">
    <!-- right -->
    <div class="container-form right">
        <form action="#" class="form" id="form1">
            <h2 class="form-title">OLAND 注册</h2>
            <div class="banner-box">
                <p>欢迎您的加入~</p>
            </div>
            <div class="login-form">
                <div class="form-container">
                    <label class="form-item">邮箱</label>
                    <div class="form-input">
                        <input type="email" placeholder="请输入邮箱" class="input" />
                    </div>
                </div>
                <div class="check-box">
                    <div class="check-code">
                        <input type="text" placeholder="请输入验证码" class="input" />
                    </div>
                    <div class="check-text">
                        <button type="button"><span>发送验证码</span></button>
                    </div>

                </div>
                <div class="form-container">
                    <label class="form-item">昵称</label>
                    <div class="form-input">
                        <input type="text" placeholder="请输入昵称" class="input" />
                    </div>

                </div>
                <div class="form-container">
                    <label class="form-item">密码</label>
                    <div class="form-input">
                        <input type="password" placeholder="请输入密码" class="input" />
                    </div>
                </div>
                <div class="form-container">
                    <label class="form-item">确认密码</label>
                    <div class="form-input">
                        <input type="password" placeholder="请确认密码" class="input" />
                    </div>
                </div>
            </div>
            <div>
                <button class="btn">注册</button>
                <button class="btn">登录</button>
            </div>
        </form>
    </div>


    <!-- left -->
    <div class="left">
        <div class="left-item">
            <img src="images/register.webp" alt="">
        </div>
    </div>
</div>

</body>
</html>